@keyframes scroll-6px {
  from {
    transform: translateY(0);
  }
  to {
    // img 裡的小圖片有間隔 12 px，但頭尾沒有多加 6 px 上去，
    // 跑到 Y 軸 -50% 的地方時，要再多跑 12px/2 = 6px 的距離，
    // 避免圖片在新的一 run 時，有斷層的現象，下方動畫 scroll-10px 同理
    transform: translateY(calc(-50% - 6px));
  }
}
@keyframes scroll-10px {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50% - 10px));
  }
}
@keyframes luster {
  from {
    left: -30%;
  }
  to {
    left: 130%;
  }
}
@keyframes shake {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(16%);
  }
}
