@keyframes scroll-6px {
  from {
    transform: translateY(0);
  }
  to {
    // img 裡的小圖片有間隔 12 px，但頭尾沒有多加 6 px 上去，
    // 跑到 Y 軸 -50% 的地方時，要再多跑 12px/2 = 6px 的距離，
    // 避免圖片在新的一 run 時，有斷層的現象，下方動畫 scroll-10px 同理
    transform: translateY(calc(-50% - 6px));
  }
}
@keyframes scroll-10px {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-50% - 10px));
  }
}
@keyframes luster {
  from {
    left: -30%;
  }
  to {
    left: 130%;
  }
}
@keyframes shake {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(16%);
  }
}
@keyframes shakeY {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-5%);
  }
}

// footer-icon
@keyframes facebook {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 90;
    stroke: #1773ea;
  }
  100% {
    stroke-dashoffset: 180;
  }
}
@keyframes instagram {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 58;
    stroke: #c93171;
  }
  100% {
    stroke-dashoffset: 116;
  }
}
@keyframes twitter {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 2220;
    stroke: rgb(15, 20, 25);
  }
  100% {
    stroke-dashoffset: 4440;
  }
}
@keyframes upDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-16px);
  }
}
