.en-font {
  font-family: "Tektur", "Noto Sans TC", sans-serif;
}
.container-fluid {
  max-width: 1320px;
}
.lh-37 {
  line-height: 37px;
}
.stroke-1 {
  -webkit-text-stroke: 1px $white;
}
.bg-deco {
  @include bg-contain("/assets/images/deco.png");
  background-position: right 0;
  // background: no-repeat right 0 / contain url("/assets/images/deco.png");
  filter: drop-shadow($box-shadow-lg);
}
.bg-deco-reverse {
  @include bg-contain("/assets/images/deco-reverse.png");
  background-position: left 0;
  filter: drop-shadow($box-shadow-lg);
}
.deco-circle,
.deco-circle-sm {
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 100%;
    transform: translate(-50%, -50%);
    background: $primary-gradient;
    border-radius: 50%;
    z-index: -1;
  }
}
.deco-circle {
  &::before {
    width: 80px;
    height: 80px;
  }
  &-sm::before {
    top: 40%;
    width: 32px;
    height: 32px;
  }
}

.bg-primary-gradient {
  background: $primary-gradient;
}
.bg-secondary-gradient {
  background: $secondary-gradient;
}
.bg-secondary-gradient-bottom {
  background: $secondary-gradient-bottom;
}

.bg-left-black-gradient {
  background: linear-gradient(to left, rgba($black, 0.5) 90%, transparent);
}
.bg-right-black-gradient {
  background: linear-gradient(to right, rgba($black, 0.5) 90%, transparent);
}
.bg-black-50 {
  background: rgba($black, 0.5);
}

.glass {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.ps-100 {
  padding-left: 100px;
}
.pe-80 {
  padding-right: 80px;
}

.pt-80 {
  padding-top: 80px;
}
.pb-240 {
  padding-bottom: 240px;
}
.py-80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.py-160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

@include mobile {
  .mb-md-160 {
    margin-bottom: 160px;
  }
  .py-md-80 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

.mt-140 {
  margin-top: 140px;
}
.ms-120 {
  margin-left: 120px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-120 {
  margin-bottom: 120px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mb-240 {
  margin-bottom: 240px;
}
@include mobile-po {
  .mb-sm-120 {
    margin-bottom: 120px;
  }
}

.list-style-circle {
  list-style-type: circle;
}
.row-gap-2 {
  row-gap: 8px;
}
.row-gap-4 {
  row-gap: 16px;
}
.row-gap-6 {
  row-gap: 24px;
}
.drop-shadow {
  filter: drop-shadow($box-shadow);
  &-lg {
    filter: drop-shadow($box-shadow-lg);
  }
}
.horizontal-flip {
  transform: rotateY(-180deg);
}

.fs-14 {
  font-size: 14px;
}
.fs-48 {
  font-size: 48px;
}
.fs-md-48 {
  @include media-breakpoint-up(md) {
    font-size: 48px !important;
  }
}
.fs-sm-48 {
  @include media-breakpoint-up(sm) {
    font-size: 48px !important;
  }
}
.w-33 {
  width: calc(100% / 3);
}

.pointer {
  cursor: pointer;
}

.leader {
  position: relative;
  &::before {
    content: "\f521";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 100%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ffc800;
  }
}

.vh-100 {
  height: 100vh;
}
.h-0 {
  height: 0;
}

.c-min-hight {
  min-height: calc(100vh - 74px - 80px);
}
.b-min-hight {
  min-height: calc(100vh - 40vh - 80px - 40px - 42px);
}
.information-min-hight {
  @include media-breakpoint-up(md) {
    min-height: calc(100vh - 74px - 40px - 24px - 16px - 80px - 40px);
  }
}

.h-add-songs {
  height: 200px;
  @include media-breakpoint-up(lg) {
    height: 400px;
  }
}
.border-primary-light-c {
  border-color: $primary-light !important;
}

.link-unstyled {
  text-decoration: none;
}
.hover {
  &-fw-bold {
    &:hover {
      font-weight: bold;
    }
  }
  &-text-white {
    &:hover {
      color: $white !important;
    }
  }
  &-text-primary {
    &:hover {
      color: $primary !important;
    }
  }
}
.transition-left {
  transition: left 2s linear;
}
.left-0 {
  left: 0;
}
