<footer class="bg-primary-gradient">
  <div class="container-fluid py-5">
    <div class="row align-items-center">
      <ul
        class="col-lg-4 d-flex fs-48 gap-12 mb-2 mb-lg-0 justify-content-lg-center order-lg-1"
      >
        <li>
          <a href="##" class="text-white"><i class="bi bi-facebook"></i></a>
        </li>
        <li>
          <a href="##" class="text-white"><i class="bi bi-instagram"></i></a>
        </li>
        <li>
          <a href="##" class="text-white"><i class="bi bi-twitter"></i></a>
        </li>
      </ul>
      <div class="col-lg-4 order-lg-0">
        <p>Copyright © 2023 SINGALONG. All rights reserved.</p>
        <p>本網站僅作為個人練習作品，無任何商業用途</p>
      </div>
    </div>
  </div>
  <!-- back to top -->
  <a
    href="#"
    class="fixed-bottom fs-48 text-white"
    style="right: 3%; bottom: 5%; left: auto"
    ><i class="bi bi-arrow-up-circle-fill"></i
  ></a>
</footer>
