<!-- main -->
<main class="pt-10">
  <div class="row mb-80 justify-content-center align-items-center row-gap-6">
    <div class="col-md-5 col-lg-4 text-center">
      <img
        src="../assets/images/create/partyworld.png"
        alt="partyworld"
        class="rounded-4"
      />
    </div>
    <div class="col-md-7 col-lg-5">
      <div
        class="d-flex justify-content-between pb-3 mb-9 border-bottom border-primary-light"
      >
        <h3 class="fs-4">台北錢櫃唱歌++</h3>
        <span class="material-icons"> share </span>
      </div>
      <ul class="mb-9">
        <li class="d-flex mb-2">
          <span class="material-icons me-2"> schedule </span>
          <p>09/22 (五) 20:00 - 23:00</p>
        </li>
        <li class="d-flex mb-2">
          <span class="material-icons me-2"> location_on </span>
          <p>錢櫃 - 台北林森店, 台北市中山區林森北路312號</p>
        </li>
        <li class="d-flex mb-2">
          <span class="material-icons me-2"> people_alt </span>
          <p class="me-2">( 6 / 8 )</p>
          <a href="##" data-bs-toggle="modal" data-bs-target="#member-list"
            >查看成員</a
          >
        </li>
        <li class="d-flex">
          <span class="material-icons me-2"> mic_external_on </span>
          <p>國語 KTV</p>
        </li>
      </ul>
      <div class="text-end">
        <a
          href="##"
          data-bs-toggle="modal"
          data-bs-target="#quitButton"
          class="btn btn-danger rounded-pill <%= quitButton %>"
          >退出揪團</a
        >
        <a
          href="##"
          data-bs-toggle="modal"
          data-bs-target="#join-button"
          class="btn btn-major rounded-pill w-50 ms-auto <%= isJoined %>"
        >
          <%= isJoinedText %></a
        >
      </div>
    </div>
  </div>
  <div class="row mb-80">
    <div class="meetup-intro col-md-6">
      <h4 class="fs-4 pb-3 border-bottom border-primary-light">
        <span class="deco-circle-sm">揪團介紹</span>
      </h4>
      <p class="py-6 p-lg-6">
        嗨~歌唱達人和沐浴在音樂中的朋友們！<br /><br />
        來參加一場超級療癒的唱歌聚會吧！<br />
        不論你是淋漓濺彩的高音王子，還是低音醇厚的歌后<br />
        這裡是你展現才華的最佳舞台🎤<br /><br />
        讓我們忘卻一切煩惱，隨著旋律盡情飛翔！<br />
        一同融入音樂的海洋，感受節奏的躍動，一起創造美好的回憶<br /><br />
        邀請你的朋友們，一同參與這場歌唱派對<br />
        讓我們攜手合唱，共創動人旋律！<br /><br />
        準備好在音樂的海洋中暢遊嗎？就等你加入喔！🎶🎉
      </p>
    </div>
    <div class="meetup-comment col-md-6 d-flex flex-column">
      <h4 class="fs-4 pb-3 border-bottom border-primary-light">
        <span class="deco-circle-sm">留言</span>
      </h4>
      <div class="py-6 p-lg-6 d-flex flex-column flex-grow-1">
        <div class="d-flex flex-grow-1">
          <img
            src="../assets/images/uesr/emily.png"
            alt="emily"
            class="meetup-user rounded-circle me-2"
          />
          <div>
            <div class="d-flex gap-2 align-items-center">
              <p class="fw-bold">Emily</p>
              <i class="fa-solid fa-crown" style="color: #ffc800"></i>
              <p class="text-primary-light fs-14">2023/09/12 09:20</p>
            </div>
            <p>嗨嗨~歡迎一起來唱歌</p>
          </div>
        </div>
        <div
          class="meetup-comment-send d-flex align-items-center bg-primary-medium rounded-3 p-2"
        >
          <input
            type="text"
            class="form-control flex-grow-1 bg-primary-medium border-0"
            placeholder="請輸入留言"
          />
          <span class="material-icons pointer p-1"> send </span>
        </div>
      </div>
    </div>
  </div>
  <h4 class="fs-4 pb-3 mb-4 border-bottom border-primary-light">
    <span class="deco-circle-sm">看看更多揪團</span>
  </h4>
  <!-- Swiper -->
  <div class="swiper mySwiper mb-80">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img src="../assets/images/create/partyworld.png" alt="partyworld" />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">台北錢櫃唱歌++</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>09/22 (五) 20:00 - 23:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>錢櫃 - 台北林森店</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img src="../assets/images/create/mic.png" alt="mic" />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">9/24 松江錢櫃</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>09/24 (日) 13:00 - 16:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>錢櫃 - 台北松江店</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img src="../assets/images/create/holidayktv.png" alt="holidayktv" />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">彰化好樂迪GOGO</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>09/24 (日) 09:00 - 12:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>好樂迪 - 彰化員林店</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img src="../assets/images/create/karaoke.png" alt="karaoke" />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">台中揪日K</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>09 /26 (二) 14:00 - 17:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>JapanMelody</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img src="../assets/images/create/holidayktv.png" alt="holidayktv" />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">9/27桃園練歌團</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>09/27 (三) 19:00 - 22:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>好樂迪 - 桃園復興店</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img
            src="../assets/images/create/enjoyyourlife.png"
            alt="enjoyyourlife"
          />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">台南享溫馨 19:00</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>09/29 (五) 19:00 - 23:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>享溫馨 - 台南中華店</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img src="../assets/images/create/partyworld.png" alt="mic" />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">台中平日唱歌</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>10/09 (一) 13:00 - 16:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>錢櫃 - 台中自由店</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img src="../assets/images/create/silverbox.png" alt="silverbox" />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">10/19 逢甲夜唱</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>10/19 (四) 22:00 - 6:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>銀櫃 - 逢甲店</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
      <div class="swiper-slide">
        <div
          class="card border-0 rounded-4 overflow-hidden bg-transparent shadow"
        >
          <img src="../assets/images/create/mic2.png" alt="mic" />
          <div class="card-body bg-primary-medium">
            <h3 class="fs-5 mb-2">台中美樂地白天場</h3>
            <div class="d-flex mb-1">
              <span class="material-icons me-2"> schedule </span>
              <p>10/20 (五) 12:00 - 16:00</p>
            </div>
            <div class="d-flex">
              <span class="material-icons me-2"> location_on </span>
              <p>台中美樂地KTV</p>
            </div>
          </div>
          <a href="meetup-information.html" class="stretched-link"></a>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</main>

<!-- Modal -->
<div
  class="modal fade"
  id="member-list"
  tabindex="-1"
  aria-labelledby="memberListLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div
      class="modal-content bg-primary-dark py-5 border border-primary-light border-2"
      id="memberListLabel"
    >
      <div class="modal-header border-0">
        <h5 class="modal-title ms-6">成員</h5>
        <span
          type="button"
          class="material-icons"
          data-bs-dismiss="modal"
          aria-label="Close"
        >
          close
        </span>
      </div>
      <div class="modal-body">
        <ul class="d-flex flex-column gap-4">
          <li class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <p class="meetup-user-number me-1 text-center">1</p>
              <div class="leader me-2">
                <img
                  src="../assets/images/uesr/emily.png"
                  alt="emily"
                  class="meetup-user rounded-circle"
                />
              </div>
              <p>Emily</p>
            </div>
            <div class="d-flex">
              <a href="##">查看檔案</a>
              <p class="px-1 text-primary">/</p>
              <a href="##">查看歌本</a>
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <p class="meetup-user-number me-1 text-center">2</p>
              <div class="me-2">
                <img
                  src="../assets/images/uesr/benjamin.png"
                  alt="benjamin"
                  class="meetup-user rounded-circle"
                />
              </div>
              <p>Benjamin</p>
            </div>
            <div class="d-flex">
              <a href="##">查看檔案</a>
              <p class="px-1 text-primary">/</p>
              <a href="##">查看歌本</a>
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <p class="meetup-user-number me-1 text-center">3</p>
              <div class="me-2">
                <img
                  src="../assets/images/uesr/olivia.png"
                  alt="olivia"
                  class="meetup-user rounded-circle"
                />
              </div>
              <p>Olivia</p>
            </div>
            <div class="d-flex">
              <a href="##">查看檔案</a>
              <p class="px-1 text-primary">/</p>
              <a href="##">查看歌本</a>
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <p class="meetup-user-number me-1 text-center">4</p>
              <div class="me-2">
                <img
                  src="../assets/images/uesr/jacob.png"
                  alt="jacob"
                  class="meetup-user rounded-circle"
                />
              </div>
              <p>Jacob</p>
            </div>
            <div class="d-flex">
              <a href="##">查看檔案</a>
              <p class="px-1 text-primary">/</p>
              <a href="##">查看歌本</a>
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <p class="meetup-user-number me-1 text-center">5</p>
              <div class="me-2">
                <img
                  src="../assets/images/uesr/sophia.png"
                  alt="sophia"
                  class="meetup-user rounded-circle"
                />
              </div>
              <p>Sophia</p>
            </div>
            <div class="d-flex">
              <a href="##">查看檔案</a>
              <p class="px-1 text-primary">/</p>
              <a href="##">查看歌本</a>
            </div>
          </li>
          <li class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <p class="meetup-user-number me-1 text-center">6</p>
              <div class="me-2">
                <img
                  src="../assets/images/uesr/william.png"
                  alt="william"
                  class="meetup-user rounded-circle"
                />
              </div>
              <p>William</p>
            </div>
            <div class="d-flex">
              <a href="##">查看檔案</a>
              <p class="px-1 text-primary">/</p>
              <a href="##">查看歌本</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
