<div class="subbanner overflow-hidden position-relative mb-10">
  <%- include('./layout/header'); -%>
  <div
    class="subbanner-content bg-right-black-gradient position-absolute top-50 translate-middle-y"
  >
    <h2 class="position-absolute top-50 start-50 translate-middle ms-md-9">
      <%= bannerTitle %>
    </h2>
  </div>
</div>
