body {
  font-family: "Noto Sans TC", sans-serif;
  color: $white;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
a {
  display: inline-block;
}
ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p {
  margin-bottom: 0;
  line-height: 1.5;
}

textarea {
  resize: none;
}
