.btn {
  padding: 8px 28px;
  font-size: 20px;
  border: none;
  @include mobile {
    font-size: 16px;
  }
}
.btn-major {
  background: linear-gradient(to right, $primary, $tertiary);
  color: $white;
}
.btn-minor {
  padding: 4px 24px;
  border: 4px solid transparent;
  -webkit-background-clip: padding-box, border-box;
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
  background-image: linear-gradient(to right, $primary-dark, $primary-dark),
    $secondary-gradient;
  color: $white;
}
