.input-group-text,
.form-select,
.form-control,
.form-control:focus,
.form-select:focus {
  background: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  border-bottom: 1px solid $primary-light;
}
.input-group-text {
  color: $white;
  border: none;
}
.form-control,
.form-control:focus,
.form-select:focus {
  color: $white;
}
.form-select option {
  color: $black;
}
.form-check {
  margin-bottom: 0;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-left: 36px;
}
.form-select-default {
  color: $primary-light;
}
.form-select-changed {
  color: $white;
}
.form-select {
  padding-right: 0;
}
input {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    // 更改自動填入背景色、文字顏色
    box-shadow: inset 0 0 0 1000px $primary-dark;
    -webkit-text-fill-color: white;
  }
}
input::placeholder,
textarea::placeholder {
  -webkit-text-fill-color: $primary-light;
}
