.login {
  &-deco {
    width: 100%;
    top: -50%;
    aspect-ratio: 1 / 1;
    filter: drop-shadow($box-shadow-lg);
    z-index: 1;
    right: 45%;
    transition: right 1s, transform 1s;
    @include media-breakpoint-down(xl) {
      top: -30%;
    }
    @include media-breakpoint-down(lg) {
      top: 0%;
    }
  }
}
.login-opacity,
.signup-opacity {
  transition: opacity 1s ease 0.6s;
}
.signup-opacity {
  opacity: 0;
  pointer-events: none;
}
.back-index {
  z-index: 2;
  top: 32px;
  right: 32px;
  span {
    animation: shake 0.8s infinite alternate;
  }
}
