.my-account {
  min-height: calc(100vh - 74px - 112px);
  &-list {
    input:checked ~ label {
      background: $primary-medium;
    }
    label:hover {
      background: $primary-medium;
    }
  }
  &-picture {
    font-size: 300px;
  }
}
.account-information-table {
  max-width: 500px;
}
