<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css"
    />
    <title>建立揪團 | SINGALONG</title>
  </head>
  <body>
    <div class="bg-primary-dark">
      <%- include('./layout/subbanner',{bannerTitle: '建立揪團'}); -%>
      <div class="container-fluid">
        <!-- breadcrumb -->
        <nav
          style="--bs-breadcrumb-divider: '>'"
          aria-label="breadcrumb"
          class="mb-10"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">建立揪團</li>
          </ol>
        </nav>
        <!-- main -->
        <main>
          <!-- step-progress -->
          <%- include('./layout/step-progress',{page: 'create1'}); -%>
          <!-- form -->
          <div class="row">
            <div class="col col-md-8 col-lg-6 mx-auto mb-10">
              <div class="text-center mb-10">
                <h3 class="d-inline-block deco-circle">Step 1. 填寫開團資料</h3>
              </div>
              <form class="text-start row flex-wrap">
                <div class="input-group mb-4 col-12">
                  <label for="group-name" class="input-group-text">名稱</label>
                  <input
                    type="text"
                    class="form-control"
                    id="group-name"
                    placeholder="請輸入揪團名稱"
                    aria-label="請輸入揪團名稱"
                    aria-describedby="group-name"
                  />
                </div>
                <div class="col-12 col-sm-6 mb-4">
                  <div class="input-group">
                    <label class="input-group-text" for="aria">地區</label>
                    <select class="form-select form-select-default" id="aria">
                      <option selected value="請選擇地區">請選擇地區</option>
                      <option value="基隆市">基隆市</option>
                      <option value="臺北市">臺北市</option>
                      <option value="新北市">新北市</option>
                      <option value="桃園市">桃園市</option>
                      <option value="新竹市">新竹市</option>
                      <option value="新竹縣">新竹縣</option>
                      <option value="苗栗縣">苗栗縣</option>
                      <option value="台中市">台中市</option>
                      <option value="彰化縣">彰化縣</option>
                      <option value="南投縣">南投縣</option>
                      <option value="嘉義市">嘉義市</option>
                      <option value="嘉義縣">嘉義縣</option>
                      <option value="雲林縣">雲林縣</option>
                      <option value="台南市">台南市</option>
                      <option value="高雄市">高雄市</option>
                      <option value="屏東縣">屏東縣</option>
                      <option value="宜蘭縣">宜蘭縣</option>
                      <option value="花蓮縣">花蓮縣</option>
                      <option value="台東縣">台東縣</option>
                      <option value="金門縣">金門縣</option>
                      <option value="澎湖縣">澎湖縣</option>
                      <option value="連江縣">連江縣</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 mb-4">
                  <div class="input-group">
                    <label for="number" class="input-group-text">人數</label>
                    <input
                      type="number"
                      class="form-control"
                      id="number"
                      list="numbers"
                      placeholder="請輸入上限人數"
                      aria-label="請輸入上限人數"
                      aria-describedby="number"
                      min="2"
                    />
                    <datalist id="numbers">
                      <option value="2"></option>
                      <option value="3"></option>
                      <option value="4"></option>
                      <option value="5"></option>
                      <option value="6"></option>
                      <option value="7"></option>
                      <option value="8"></option>
                      <option value="9"></option>
                      <option value="10"></option>
                    </datalist>
                  </div>
                </div>
                <div class="col-12 col-sm-6 mb-4">
                  <div class="input-group">
                    <label for="number" class="input-group-text">日期</label>
                    <input
                      class="form-control input-date"
                      type="text"
                      name="date"
                      id="date"
                      placeholder="請選擇日期"
                    />
                  </div>
                </div>
                <div class="col-12 col-sm-6 mb-4">
                  <div class="input-group">
                    <label class="input-group-text">時間</label>
                    <select class="form-select form-select-changed">
                      <option value=""></option>
                      <option value="00">00</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                    </select>
                    <span class="border-bottom border-primary-light lh-37"
                      >：</span
                    >
                    <select class="form-select form-select-changed">
                      <option value=""></option>
                      <option value="00">00</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="44">44</option>
                      <option value="45">45</option>
                      <option value="46">46</option>
                      <option value="47">47</option>
                      <option value="48">48</option>
                      <option value="49">49</option>
                      <option value="50">50</option>
                      <option value="51">51</option>
                      <option value="52">52</option>
                      <option value="53">53</option>
                      <option value="54">54</option>
                      <option value="55">55</option>
                      <option value="56">56</option>
                      <option value="57">57</option>
                      <option value="58">58</option>
                      <option value="59">59</option>
                    </select>
                    <span class="border-bottom border-primary-light lh-37">
                      ~
                    </span>
                    <select class="form-select form-select-changed">
                      <option value=""></option>
                      <option value="00">00</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                    </select>
                    <span class="border-bottom border-primary-light lh-37"
                      >：</span
                    >
                    <select class="form-select form-select-changed">
                      <option value=""></option>
                      <option value="00">00</option>
                      <option value="01">01</option>
                      <option value="02">02</option>
                      <option value="03">03</option>
                      <option value="04">04</option>
                      <option value="05">05</option>
                      <option value="06">06</option>
                      <option value="07">07</option>
                      <option value="08">08</option>
                      <option value="09">09</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                      <option value="13">13</option>
                      <option value="14">14</option>
                      <option value="15">15</option>
                      <option value="16">16</option>
                      <option value="17">17</option>
                      <option value="18">18</option>
                      <option value="19">19</option>
                      <option value="20">20</option>
                      <option value="21">21</option>
                      <option value="22">22</option>
                      <option value="23">23</option>
                      <option value="24">24</option>
                      <option value="25">25</option>
                      <option value="26">26</option>
                      <option value="27">27</option>
                      <option value="28">28</option>
                      <option value="29">29</option>
                      <option value="30">30</option>
                      <option value="31">31</option>
                      <option value="32">32</option>
                      <option value="33">33</option>
                      <option value="34">34</option>
                      <option value="35">35</option>
                      <option value="36">36</option>
                      <option value="37">37</option>
                      <option value="38">38</option>
                      <option value="39">39</option>
                      <option value="40">40</option>
                      <option value="41">41</option>
                      <option value="42">42</option>
                      <option value="43">43</option>
                      <option value="44">44</option>
                      <option value="45">45</option>
                      <option value="46">46</option>
                      <option value="47">47</option>
                      <option value="48">48</option>
                      <option value="49">49</option>
                      <option value="50">50</option>
                      <option value="51">51</option>
                      <option value="52">52</option>
                      <option value="53">53</option>
                      <option value="54">54</option>
                      <option value="55">55</option>
                      <option value="56">56</option>
                      <option value="57">57</option>
                      <option value="58">58</option>
                      <option value="59">59</option>
                    </select>
                  </div>
                </div>
                <div class="col-12 col-sm-6 mb-4">
                  <div class="input-group">
                    <label for="location" class="input-group-text">地點</label>
                    <input
                      type="text"
                      class="form-control"
                      id="location"
                      placeholder="請輸入店家名稱"
                      aria-label="請輸入店家名稱"
                      aria-describedby="location"
                    />
                  </div>
                </div>
                <div class="col-12 col-sm-6 mb-4">
                  <div class="input-group align-items-center">
                    <label class="input-group-text">KTV種類</label>
                    <div class="form-check flex-grow-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        id="flexCheckDefault"
                        name="ktv"
                        checked
                      />
                      <label class="form-check-label" for="flexCheckDefault">
                        國語
                      </label>
                    </div>
                    <div class="form-check flex-grow-1">
                      <input
                        class="form-check-input"
                        type="radio"
                        name="ktv"
                        id="flexCheckChecked"
                      />
                      <label class="form-check-label" for="flexCheckChecked">
                        外語
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-12 mb-4">
                  <div class="input-group">
                    <label for="address" class="input-group-text">地址</label>
                    <input
                      type="text"
                      class="form-control"
                      id="address"
                      placeholder="請輸入完整地址"
                      aria-label="請輸入完整地址"
                      aria-describedby="address"
                    />
                  </div>
                </div>
                <div class="col-12">
                  <label
                    for="exampleFormControlTextarea1"
                    class="form-label input-group-text"
                    >說明文（選填）</label
                  >
                  <div class="ps-3">
                    <textarea
                      class="form-control border border-primary-light"
                      id="exampleFormControlTextarea1"
                      style="height: 300px"
                    ></textarea>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- prev/next -->
          <div class="text-end mb-10">
            <a href="create2.html" class="btn btn-major rounded-pill">下一步</a>
          </div>
        </main>
      </div>
      <%- include('./layout/footer'); -%>
    </div>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script
      src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"
      integrity="sha256-lSjKY0/srUM9BE3dPm+c4fBo1dky2v27Gdjm2uoZaL0="
      crossorigin="anonymous"
    ></script>
    <script>
      $("#date").datepicker();
      $("#aria").on("change", function () {
        if ($(this).val() !== "請選擇地區") {
          $(this)
            .addClass("form-select-changed")
            .removeClass("form-select-default");
        } else {
          $(this)
            .addClass("form-select-default")
            .removeClass("form-select-changed");
        }
      });
    </script>
  </body>
</html>
