<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css"
    />
    <title>建立揪團 | SINGALONG</title>
  </head>
  <body>
    <div class="bg-primary-dark">
      <div class="subbanner overflow-hidden position-relative mb-10">
        <%- include('./layout/header'); -%>
        <div
          class="subbanner-content bg-right-black-gradient position-absolute top-50 translate-middle-y"
        >
          <h2
            class="position-absolute top-50 start-50 translate-middle ms-md-9"
          >
            建立揪團
          </h2>
        </div>
      </div>
      <div class="container-fluid">
        <!-- breadcrumb -->
        <nav
          style="--bs-breadcrumb-divider: '>'"
          aria-label="breadcrumb"
          class="mb-10"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">建立揪團</li>
          </ol>
        </nav>
        <!-- main -->
        <main>
          <!-- step-progress -->
          <div class="mb-10">
            <div class="progress bg-primary-medium" style="height: 1px">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 0%"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <ol
              class="progress-list d-flex justify-content-between position-relative"
            >
              <li class="text-center w-33">
                <div class="progress-circle rounded-circle mx-auto mb-2">1</div>
                <p class="text-nowrap">填寫開團資料</p>
              </li>
              <li class="text-center w-33">
                <div class="progress-circle rounded-circle mx-auto mb-2">2</div>
                <p>新增圖片</p>
              </li>
              <li class="text-center w-33">
                <div class="progress-circle rounded-circle mx-auto mb-2 active">
                  3
                </div>
                <p>開團成功</p>
              </li>
            </ol>
          </div>
          <div class="text-center mb-10">
            <h3 class="mb-2">開團成功！</h3>
            <p class="mb-10">
              現在，可以點選 「我的揪團 」 查看揪團資料，<br />
              或點選 「 回首頁 」 繼續使用！
            </p>
            <div class="d-flex mb-10 justify-content-center">
              <a href="create1.html" class="btn btn-minor rounded-pill me-12"
                >我的揪團</a
              >
              <a href="index.html" class="btn btn-major rounded-pill">回首頁</a>
            </div>
          </div>
        </main>
      </div>
      <%- include('./layout/footer'); -%>
    </div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
