<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css"
    />
    <title>建立揪團 | SINGALONG</title>
  </head>
  <body>
    <div class="bg-primary-dark">
      <%- include('./layout/subbanner',{bannerTitle: '建立揪團'}); -%>
      <div class="container-fluid">
        <!-- breadcrumb -->
        <nav
          style="--bs-breadcrumb-divider: '>'"
          aria-label="breadcrumb"
          class="mb-10"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">建立揪團</li>
          </ol>
        </nav>
        <!-- main -->
        <main class="b-min-hight">
          <!-- step-progress -->
          <%- include('./layout/step-progress',{page: 'create3'}); -%>
          <!-- meetup created -->
          <div class="text-center mb-10">
            <div class="mb-8 text-center">
              <h3 class="d-inline-block deco-circle en-font">開團成功！</h3>
            </div>
            <p class="mb-10">
              現在，可以點選 「我的揪團 」 查看揪團資料，<br />
              或點選 「 回首頁 」 繼續使用！
            </p>
            <div class="d-flex mb-10 justify-content-center">
              <a href="my-meetup.html" class="btn btn-minor rounded-pill me-12"
                >我的揪團</a
              >
              <a href="index.html" class="btn btn-major rounded-pill">回首頁</a>
            </div>
          </div>
        </main>
      </div>
      <%- include('./layout/footer'); -%>
    </div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
