<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <title>SINGALONG</title>
  </head>
  <body>
    <!-- header -->
    <div class="bg-primary-dark">
      <header>
        <div class="banner mb-120 overflow-hidden position-relative">
          <%- include('./layout/header'); -%>
          <div class="container-fluid">
            <div class="banner-group position-relative overflow-hidden">
              <div class="banner-img-1 position-absolute">
                <img
                  src="../assets/images/banner-1.png"
                  alt="多張人物圖像"
                  class="drop-shadow"
                />
              </div>
              <div class="banner-img-2 position-absolute">
                <img
                  src="../assets/images/banner-2.png"
                  alt="多張人物圖像"
                  class="drop-shadow-lg"
                />
              </div>
              <div class="banner-img-3 position-absolute">
                <img
                  src="../assets/images/banner-3.png"
                  alt="多張人物圖像"
                  class="drop-shadow"
                />
              </div>
            </div>
            <div
              class="banner-content bg-left-black-gradient position-absolute end-0 top-50 translate-middle-y py-160 py-md-80 ps-100"
            >
              <h1>SINGALONG</h1>
              <h2 class="mb-6">尋找一起唱歌的夥伴</h2>
              <a href="##" class="btn btn-major rounded-pill">看看目前的揪團</a>
            </div>
          </div>
        </div>
      </header>
      <!-- main -->
      <main>
        <!-- intro -->
        <section class="container-fluid mb-120">
          <h2 class="mb-80 text-center">
            想找人一起唱歌嗎? <br class="d-md-none" />在 SINGALONG，你可以……
          </h2>

          <ul
            class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-gap-6 justify-content-center"
          >
            <li class="intro-item col position-relative d-flex flex-column">
              <img
                src="../assets/images/section2-1.png"
                alt="建立揪團"
                class="intro-img rounded-4"
              />
              <h3
                class="intro-title text-center position-absolute top-50 start-50 translate-middle h2"
              >
                建立揪團
              </h3>
              <div
                class="intro-desc px-12 position-absolute start-50 translate-middle-x w-100"
              >
                <p class="mb-2">找不到適合自己的團嗎？</p>
                <p>
                  來建立自己的團吧！完成揪團三步驟立刻成團，開始募集愛唱歌的小夥伴！
                </p>
              </div>
            </li>
            <li class="intro-item col position-relative d-flex flex-column">
              <img
                src="../assets/images/section2-2.png"
                alt="加入揪團"
                class="intro-img rounded-4"
              />
              <h3
                class="intro-title text-center position-absolute top-50 start-50 translate-middle h2"
              >
                加入揪團
              </h3>
              <div
                class="intro-desc px-12 position-absolute start-50 translate-middle-x w-100"
              >
                <p class="mb-2">想加入別人的揪團嗎？</p>
                <p>
                  至揪團列表頁面查看目前的揪團，找到喜歡的團時，點擊「我要參加」按鈕即可入團！現在就來尋找適合你的揪團吧！
                </p>
              </div>
            </li>
            <li class="intro-item col position-relative d-flex flex-column">
              <img
                src="../assets/images/section2-3.png"
                alt="自訂歌本"
                class="intro-img rounded-4"
              />
              <h3
                class="intro-title text-center position-absolute top-50 start-50 translate-middle h2"
              >
                自訂歌本
              </h3>
              <div
                class="intro-desc px-12 position-absolute start-50 translate-middle-x w-100"
              >
                <ul class="list-style-circle ps-6">
                  <li>製作屬於自己的歌本</li>
                  <li>點擊其他用戶的頭像查看公開歌本</li>
                  <li>一鍵查看你與其他用戶的歌本裡重複的歌曲</li>
                </ul>
              </div>
            </li>
          </ul>
        </section>
        <!-- steps -->
        <section class="steps bg-deco py-160 py-md-80 mb-240 mb-sm-120">
          <div class="container-fluid position-relative">
            <div class="row">
              <div
                class="steps-content col-12 col-md-6 col-lg-4 fs-5 d-flex flex-column align-items-center align-self-sm-end"
              >
                <h2 class="mb-8">簡單三步驟，立刻開團</h2>
                <div class="d-flex flex-column gap-3 mb-8 text-center">
                  <p>Step1. 填寫揪團資料</p>
                  <div class="line mx-auto"></div>
                  <p>Step2. 添加喜歡的圖片</p>
                  <div class="line mx-auto"></div>
                  <p>Step3. 開團成功</p>
                </div>
                <a
                  href="create1.html"
                  class="btn btn-major rounded-pill align-self-center align-self-lg-start"
                  >開團GOGO</a
                >
              </div>
              <!-- 開團步驟畫面1用 ab 定位，要預留空間，所以 col 不設定 12滿版 -->
              <div class="col-9 col-lg-8 position-relative text-end ms-auto">
                <img
                  src="../assets/images/section3-1.png"
                  alt="開團步驟畫面1"
                  class="position-absolute drop-shadow"
                  style="right: 20%; top: 35%"
                /><img
                  src="../assets/images/section3-2.png"
                  alt="開團步驟畫面2"
                  class="drop-shadow-lg"
                />
              </div>
            </div>
          </div>
        </section>
        <!-- same -->
        <section class="same bg-deco-reverse py-160 py-md-80 mb-120 mb-0">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div
                class="col-12 col-sm-7 col-lg-5 order-lg-1 ms-auto ms-lg-none mb-10 mb-lg-none"
              >
                <h2 class="mb-4">輕鬆找到喜好相近的朋友</h2>
                <p>
                  在用戶歌本頁面，點擊「一鍵查看相同歌曲」，尋找喜好相近的夥伴，一起點亮友情的火花！
                </p>
              </div>
              <div
                class="col-10 col-sm-8 col-lg-7 position-relative mx-auto mx-sm-0 order-lg-0"
              >
                <img
                  src="../assets/images/section4-1.png"
                  alt="相同歌曲列表"
                  class="drop-shadow"
                />
                <div class="position-absolute" style="top: 25%; right: 7%">
                  <img
                    src="../assets/images/section4-2.png"
                    alt="哇!你跟 Emily 有 53 首一樣的歌。重複的歌曲有這些"
                    class="drop-shadow-lg"
                  />
                  <p
                    class="position-absolute fs-48 fw-bold text-primary"
                    style="top: 42%; left: 22%"
                  >
                    53
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- call to action -->
        <section
          class="cta bg-deco py-160 py-md-80 mb-sm-60 mb-120 position-relative"
        >
          <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
              <div
                class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7 row flex-wrap order-xl-1"
              >
                <div
                  class="col-12 col-md-11 d-flex justify-content-between align-items-center ms-auto"
                >
                  <img
                    src="../assets/images/section5-1.png"
                    alt="人物圖片"
                    class="mb-120 drop-shadow-lg mb-md-160"
                  /><img
                    src="../assets/images/section5-2.png"
                    alt="人物圖片"
                    class="drop-shadow mb-8 mb-md-0"
                  />
                </div>
                <div
                  class="col-12 col-md-11 d-flex justify-content-between align-items-center"
                >
                  <img
                    src="../assets/images/section5-3.png"
                    alt="人物圖片"
                    class="drop-shadow"
                  /><img
                    src="../assets/images/section5-4.png"
                    alt="人物圖片"
                    class="cta-img-4 mb-160 drop-shadow-lg"
                  />
                </div>
              </div>
              <div
                class="cta-title col-12 col-xl-4 col-xxl-5 mb-10 mb-xl-0 text-center order-xl-0"
              >
                <h2 class="mb-4">馬上來尋找你的歌友吧！</h2>
                <a href="##" class="btn btn-major rounded-pill">立即註冊</a>
              </div>
            </div>
          </div>
        </section>
      </main>
      <%- include('./layout/footer'); -%>
    </div>

    <script type="module" src="../main.js"></script>
  </body>
</html>
