<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
    />
    <title>揪團資訊 | SINGALONG</title>
  </head>
  <body>
    <div class="bg-primary-dark">
      <%- include('./layout/subbanner',{bannerTitle: '揪團資訊'}); -%>
      <div class="container-fluid">
        <!-- breadcrumb -->
        <nav
          style="--bs-breadcrumb-divider: '>'"
          aria-label="breadcrumb"
          class="mb-10"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item">
              <a href="##">我的揪團</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">揪團資訊</li>
          </ol>
        </nav>
        <%- include('./layout/meetup-information',{isJoined :'disabled',
        isJoinedText : '已參加', quitButton:'d-inline-block'}); -%>
      </div>
      <%- include('./layout/footer'); -%>
      <!-- Modal -->
      <div
        class="modal fade"
        id="quitButton"
        tabindex="-1"
        aria-labelledby="quitButtonLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div
            class="modal-content bg-primary-dark border border-primary-light border-2 rounded-4 p-4"
          >
            <div class="d-flex justify-content-end border-0">
              <span
                type="button"
                class="material-icons"
                data-bs-dismiss="modal"
                aria-label="Close"
              >
                close
              </span>
            </div>
            <h5 class="text-center fs-3 mb-8" id="join-buttonLabel">
              確定要退出嗎？
            </h5>
            <div class="d-flex border-0 justify-content-evenly mb-8">
              <a
                href="meetup-information.html"
                type="button"
                class="btn btn-major rounded-pill"
              >
                確定
              </a>
              <a
                type="button"
                class="btn btn-minor rounded-pill"
                data-bs-dismiss="modal"
              >
                取消
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="module" src="../main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
    <script>
      var swiper = new Swiper(".mySwiper", {
        effect: "coverflow",
        grabCursor: true,
        centeredSlides: true,
        slidesPerView: "auto",
        coverflowEffect: {
          rotate: 30,
          stretch: 0,
          depth: 100,
          modifier: 1,
          slideShadows: false,
        },
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>
  </body>
</html>
