<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css"
    />
    <title>建立揪團 | SINGALONG</title>
  </head>
  <body>
    <div class="bg-primary-gradient"><%- include('./layout/header'); -%></div>
    <div class="bg-primary-dark c-min-hight">
      <div class="container-fluid pt-10">
        <!-- breadcrumb -->
        <nav
          style="--bs-breadcrumb-divider: '>'"
          aria-label="breadcrumb"
          class="mb-4"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">首頁</a></li>
            <li class="breadcrumb-item active" aria-current="page">我的歌本</li>
          </ol>
        </nav>
        <!-- main -->
        <main>
          <!-- song-select -->
          <%- include('./layout/song-select' , {page : 'essential'}); -%>
          <!-- song-list -->
          <div class="row justify-content-center">
            <div class="col-xl-10">
              <ul class="row song-list scroll-po">
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        蒙娜麗莎的眼淚
                      </p>
                    </div>
                    <p class="song-singer">林志炫</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        メタモルフォーゼ
                      </p>
                    </div>
                    <p class="song-singer">工藤静香</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        to the beginning
                      </p>
                    </div>
                    <p class="song-singer">Kalafina</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        恋しさと せつなさと 心強さと
                      </p>
                    </div>
                    <p class="song-singer">篠原涼子</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        是不是這樣的夜晚你才會這樣的想起我
                      </p>
                    </div>
                    <p class="song-singer">吳宗憲</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">Golden Sky</p>
                    </div>
                    <p class="song-singer">SMiLE.dk</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        第一次愛的人
                      </p>
                    </div>
                    <p class="song-singer">王心凌</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">無人熟識</p>
                    </div>
                    <p class="song-singer">張清芳</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        Perseus -ペルセウス-
                      </p>
                    </div>
                    <p class="song-singer">島谷ひとみ</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">月桂女神</p>
                    </div>
                    <p class="song-singer">S.H.E</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <!-- copy -->
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        蒙娜麗莎的眼淚
                      </p>
                    </div>
                    <p class="song-singer">林志炫</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        メタモルフォーゼ
                      </p>
                    </div>
                    <p class="song-singer">工藤静香</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        to the beginning
                      </p>
                    </div>
                    <p class="song-singer">Kalafina</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        恋しさと せつなさと 心強さと
                      </p>
                    </div>
                    <p class="song-singer">篠原涼子</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        是不是這樣的夜晚你才會這樣的想起我
                      </p>
                    </div>
                    <p class="song-singer">吳宗憲</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">Golden Sky</p>
                    </div>
                    <p class="song-singer">SMiLE.dk</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        第一次愛的人
                      </p>
                    </div>
                    <p class="song-singer">王心凌</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">無人熟識</p>
                    </div>
                    <p class="song-singer">張清芳</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">
                        Perseus -ペルセウス-
                      </p>
                    </div>
                    <p class="song-singer">島谷ひとみ</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
                <li class="col-md-6">
                  <div class="song">
                    <div class="song-title">
                      <p class="song-title-content js-song-title">月桂女神</p>
                    </div>
                    <p class="song-singer">S.H.E</p>
                    <a href="##" class="song-play"
                      ><span class="song-play-icon material-icons">
                        play_circle
                      </span></a
                    >
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </main>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script>
      // 滾動條停止滾動時消失
      let scrollTimer;
      const scrollLs = document.querySelector(".scroll-ls");

      scrollLs.addEventListener("scroll", function () {
        clearTimeout(scrollTimer);
        this.classList.add("scrolling");

        scrollTimer = setTimeout(() => {
          this.classList.remove("scrolling");
        }, 1000);
      });

      // 歌名過長自動滾動
      let songTitles = document.querySelectorAll(".js-song-title");
      let scrollIntervals = [];

      songTitles.forEach(function (songTitle) {
        songTitle.addEventListener("mouseenter", function () {
          if (songTitle.scrollWidth > songTitle.clientWidth) {
            let d = songTitle.scrollWidth - songTitle.clientWidth;
            songTitle.style.transition = "left 1s linear";
            songTitle.style.left = -d + "px";
          }
        });

        songTitle.addEventListener("mouseleave", function () {
          songTitle.style.transition = "none";
          songTitle.style.left = "0";
          scrollIntervals.forEach(function (interval) {
            clearInterval(interval);
          });
          scrollIntervals = [];
        });
      });

      // 編輯歌本
      const editPlaylist = document.querySelector("#edit-playlist");
      const public = document.querySelector("#public");
      const publicContent = document.querySelector("#public-content");
      const addSongs = document.querySelector(".js-add-songs");
      const deleteSongs = document.querySelector(".js-delete-songs");
      let isEdit = false;

      editPlaylist.addEventListener("click", function () {
        if (isEdit) {
          let str = "<i class='bi bi-pencil-square me-1'></i><span>編輯</span>";
          this.innerHTML = str;
          public.disabled = !public.disabled;
          addSongs.style.display = "none";
          deleteSongs.style.display = "none";
          isEdit = false;
        } else {
          let str = "<i class='bi bi-check-lg me-1'></i><span>儲存</span>";
          this.innerHTML = str;
          public.disabled = !public.disabled;
          addSongs.style.display = "block";
          deleteSongs.style.display = "block";
          isEdit = true;
        }
      });

      public.addEventListener("click", function () {
        if (public.checked) {
          publicContent.innerHTML = "公開";
        }
        if (!public.checked) {
          publicContent.innerHTML = "不公開";
          console.log(public.checked);
        }
      });
    </script>
  </body>
</html>
